<div ng-controller="EndOfProcess">
	<div class="panel-heading navbar-fixed-top">
	   <div class="panel-title text-center">
	   		<h2 class="title" i18n-data="end_of_process"></h2>
	   	</div>
	</div> 

	<div class="container" >    
	    <form class="sidebar-form">    			
			<div class="well">
				<span type="button" class="close" data-dismiss="alert">
					<span class="glyphicon glyphicon-info-sign"></span>
				</span>
				<span i18n-data="end_of_process_message"></span>
			</div>

		    <nav> 
		        <ul class="pager">
		        	<li class="prev active pull-left">
						<button type="button" class="btn btn-primary" ng-click="loadPrevStep('ResultsProperties')">
							<span class="glyphicon glyphicon-triangle-left"></span>
						  	<span i18n-data="back">Back</span>
						</button>
					</li>
		            <li class="next active pull-right">
		                <button id="save-result" type="button" class="btn btn-primary" ng-click="finishServiceDefinition()">
		                    <span i18n-data="finish">Finish</span>&nbsp;
		                    <span class="glyphicon glyphicon-floppy-disk"></span>
		                </button>
		            </li>
		        </ul>
		    </nav> 
	    </form>
	</div>
</div>