.panel-heading span
{
    margin-top: -25px;
    font-size: 15px;
    margin-right: -12px;
}
.clickable {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.fixed {
        position: fixed;
        width: 20%;
        background-color: gray;
        color: white;
        margin-left: -15px;
}
.scrollit {
        float: left;
        width: 80%;
}
.custom-res-table{
	width: 100%;
}
.container{
	margin: auto; 
  	text-align: center;
}