<div ng-controller="ServiceTriggerController">
	<div class="panel-heading">
		<div class="panel-title text-center">
		  <h2 class="title" i18n-data="the_trigger_control">The trigger control</h2>
		</div>
	</div> 

	<div class="container">    
		<form class="sidebar-form">     
			<div class="well">
				<button type="button" class="close" data-dismiss="alert">
				<span class="glyphicon glyphicon-info-sign"></span>
				</button>
				<span i18n-data="trigger_mechanism_instructions"></span>
			</div>
			<!-- :::::::::: SELECT :::::::::: -->
		    <div class="form-group">
		        <label for="trigger_mechanism" i18n-data="trigger_mechanism">Search trigger mechanism</label>
		        <select id="trigger_mechanism" class="form-control">
		        	<option i18n-data="click_on_control_to_trigger" value="ClickBasedTrigger"></option>
		        	<option i18n-data="press_enter_to_trigger" value="EnterBasedTrigger"></option>
		        	<option i18n-data="type_and_wait_to_trigger" value="TypeAndWaitBasedTrigger"></option>
		        </select>
		    </div>
		    <div id="trigger_mechanism_params_area" class="hidden"></div>
			<nav > 
			  <ul class="pager">
			    	<li class="prev active pull-left">
						<button type="button" class="btn btn-primary" ng-click="loadPrevStep('ServiceInput')">
							<span class="glyphicon glyphicon-triangle-left"></span>
						  	<span i18n-data="back">Back</span>
						</button>
					</li>
			      	<li class="next active pull-right hidden">
			          	<button type="button" class="btn btn-primary" ng-click="loadNextStep('ServiceResultsSelection')">
			              	<span i18n-data="next">Next</span>
			              	<span class="glyphicon glyphicon-triangle-right"></span>
			          	</button>
			      	</li>
			  </ul>
			</nav> 
        </form>
    </div>
</div>