<div ng-controller="ServiceNameController">
	<div class="panel-heading">
	   <div class="panel-title text-center">
	   		<h2 class="title" i18n-data="new_service">New service</h2>
	   	</div>
	</div> 

	<div class="container" >    
	    <form class="sidebar-form">    			
			<div class="well">
				<button type="button" class="close" data-dismiss="alert">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
				<span i18n-data="name_the_service"></span>
			</div>
	        <!-- :::::::::: INPUT :::::::::: -->
		    <div class="form-group">
		        <label for="search_service_name" i18n-data="service_name">Service name</label>
		        <input id="search_service_name" type="text" class="form-control" i18n-data="example_acronym" i18n-target-attr="placeholder" required="true" ng-model="service.name"></input>
		    </div>

		    <nav> 
		        <ul class="pager">
		            <li class="next active pull-right">
		                <button id="save-result" type="button" class="btn btn-primary" ng-click="loadNextStep('ServiceInput')">
		                    <span i18n-data="next">Next</span>
		                    <span class="glyphicon glyphicon-triangle-right"></span>
		                </button>
		            </li>
		        </ul>
		    </nav> 
	    </form>
	</div>
</div>