.loading {
    text-align: center;
    display:    block;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/loading.gif') 
                50% 50% 
                no-repeat;
}
.loading span {
    line-height: 18em;
}
.panel-heading span
{
    margin-top: -25px;
    font-size: 15px;
    margin-right: -12px;
}
.clickable {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.fixed {
        position: fixed;
        background-color: gray;
        color: white;
}
.scrollit {
        float: left;
        width: 80%;
}
.custom-res-table{
	width: 100%;
}
.container{
	margin: auto; 
  	text-align: center;
}
html,body {
	height:100%;
}

.container, .row {
	height:100%;
	padding-left: 0px !important;
}

.sidebar-icons{
	font-size: 1.5em;
	color: white;
	border: 0px;
}

.sidebar-menu {
    float: right;
    width: 35px;
    margin-top: 6em;
	position: fixed;
	right: 0;
    z-index: 999999;
}
.sidebar-cog{
	background-color: #d5d545 !important;
    padding: 10px 7px !important;
}
.sidebar-filters{
	background-color: #69c669 !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 20px !important;
    padding: 10px 7px !important;
}
.sidebar-visualizations{
	background-color: #d55b5b !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 0px !important;
    padding: 10px 7px !important;
}
.sidebar-icon{
    margin-left: 2px;
}
#results{
    width: 90% !important;
}
#results_wrapper{
    width: 95% !important;
    margin: auto; 
    text-align: center;
}