.andes-loading {
    display:    block;
    position:   fixed;
    z-index:    9999999;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/loading.gif') 
                50% 50% 
                no-repeat;
}

.andes-highlighted-on-hover{
    cursor: pointer;
    border: 1px solid orange !important;
    border-radius: 5px !important;
    box-shadow: 0px 0px 2px 1px orange !important;
}
* > .andes-selectable, 
* > .andes-clear-background { 
    background: white !important; 
    border-radius: 5px !important;
}

.andes-blurred{
	background: rgba(129, 129, 129, 0.5) !important;
	color: rgba(30, 30, 30, 0.75) !important;
	border: none !important;
}
.andes-blurred img{
    filter: grayscale(100%) !important;
}


.andes-selected {
    background: orange !important;
    border: 1px solid orange !important;
    border-radius: 5px !important;
    box-shadow: 0px 0px 2px 1px orange !important;
    /*animation-name: fadeinout;
    animation-duration: 3s;*/
}
/*
#66afe9

@keyframes fadeinout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}*/