html, body {
  width: 250px;
  height: 150px;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
}

.action:hover {
  background-color: #CFF2F2;
}

.action {
  background-color: #E5F2F2;
}

.clear {
  background-color: #FBFBC9;
}

.clear:hover {
  background-color: #EAEA9D;
}